<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <body>
        <header th:replace="/fragments/header :: header"></header>

        <main class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75934.48705954812!2d-68.24517842601604!3d-35.19832128544153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9679d6a76debffb1%3A0xa17dd4fc022da420!2zQ2Vycm8gUG9uw7NuIFRyZWh1w6k!5e0!3m2!1ses!2sar!4v1669728523563!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </main>



        <footer th:replace= "/fragments/footer :: div"></footer>
    </body>
</html>